
<h1>Order Management System</h1>

<ul>
<% @inventories.each do |i| %>
  <li>
    <%= i.item %>
    <%= link_to "Show", inventory_path(i) %>
    <%= link_to "Edit", edit_inventory_path(i) %>
    <%= link_to "Delete", inventory_path(i), :method => :delete %>
    <%= link_to "Show", inventory_path(i) %>
  </li>
<% end %>
</ul>


<%= link_to "new", new_inventory_path %>

