<div class="container">
  
  <h1>Inventory Management System</h1>

  <table class="table table-hover">
    <% @inventories.each do |i| %>

      <tr>
        <td style="font-size: 20px">
        <%= i.item %>
        </td>
        <td>
        <%= link_to "Show", inventory_path(i), :class => "btn btn-primary" %>
        <%= link_to "Edit", edit_inventory_path(i), :class => "btn btn-info" %>
        <%= link_to "Show", inventory_path(i), :class => "btn btn-info" %>
        <%= link_to "Delete", inventory_path(i), :method => :delete, :class => "btn btn-danger" %>
        </td>
      </tr>
      </li>
    <% end %>
  </table>

  <br>
  <%= paginate @inventories %>

  <br>
  <%= link_to "new", new_inventory_path, :class => "btn btn-success" %>
</div>
