<div class="container">
  <h1>Inventories list</h1>

  <table class="table table-striped">
    <tr>
      <th>
        Item
      </th>
      <th>
        Description
      </th>
      <th>
        Price
      </th>
      <th>
        Stock
      </th>
      <th>
        Lack
      </th>
      <th>
        Value
      </th>
    </tr>

    <tr>
      <td>
        <%= @inventory.item %>
      </td>
      <td>
        <%= @inventory.description %>
      </td>
      <td>
        $ <%= @inventory.price %>
      </td>
      <td>
        <%= @inventory.stock %>
      </td>
      <td>
        <% @lack = "no" %>
        <% @lack = "Yes" if @inventory.lack != nil %>
        <%= @lack %>
      </td>
      <td>
        $ <%= @inventory.price * @inventory.stock %>
      </td>
    </tr>

  </table>
  <% @page_num = "1" %>
  <% @page_num = @current_page["page"] if @current_page .present? %>
  <p><%= link_to 'Back to index', inventories_path + "?page=" + @page_num , :class => "btn btn-info" %> </p>

</div>